name: Build Windows

on:
  workflow_dispatch:
    inputs:
      app_name:
        description: 'Name of the App'
        required: true
      app_url:
        description: 'URL to convert'
        required: true

jobs:
  build-windows:
    runs-on: windows-latest
    permissions:
      contents: read
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
           targets: x86_64-pc-windows-msvc

      - name: Install Frontend Dependencies
        working-directory: ./app-template
        run: npm install

      - name: Configure App
        working-directory: ./
        env:
          APP_NAME: ${{ github.event.inputs.app_name }}
          APP_URL: ${{ github.event.inputs.app_url }}
        run: node scripts/configure-app.js

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: ./app-template
          args: --target x86_64-pc-windows-msvc

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        with:
          tag_name: "v-${{ github.event.inputs.app_name }}-${{ github.run_number }}"
          name: "Release ${{ github.event.inputs.app_name }}"
          files: |
            app-template/src-tauri/target/x86_64-pc-windows-msvc/release/bundle/msi/*.msi
            app-template/src-tauri/target/x86_64-pc-windows-msvc/release/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
